<footer class="bg-light text-dark py-3 mt-5">
  <div class="container text-center">
    <p class="mb-0">
      &copy; 2024 Arusha Technical College<br />
      All Rights Reserved. <span class="animated-graphic">2🕑24++</span>
    </p>
  </div>
</footer>
